<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="logo-container">
        <%= image_tag "images/logo.png" %>
      </div>
      <nav class="main-nav">
        <ul>
          <li><%= link_to "One", "#" %></li>
          <li><%= link_to "Two", "#" %></li>
          <li><%= link_to "Three", "#" %></li>
          <li><%= link_to "Four", "#" %></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <article class="content">
        <%= yield %>
      </article>

      <div class="sidebar">this is a sidebar</div>
    </div>
  </body>
</html>
