<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> | Leigh Hack Space</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico">
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="logo-container">
        <%= image_tag "images/logo.png" %>
      </div>
      <%= partial "partials/nav" %>
    </div>

    <div class="container">
      <article class="content">
        <%= yield %>
      </article>

      <div class="sidebar">
        <%= partial "partials/twitter_feed" %>
      </div>
    </div>

    <footer>
      <div class="container">
        <%= partial "partials/social_icons" %>
        <%= partial "partials/copyright" %>
      </div>
    </footer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </body>
</html>
